@media (min-width:320px) and (max-width:1090px){
    .btn {
        margin-left: 39%;
        margin-top: 62%;
        height: 3.1%;
        width: 25.8%;
        border-radius: 10px;
    }
    
    .msg {
        margin-left: 39%;
        margin-top: 53%;
        width: 25%;
        height: 3%;
        border-radius: 10px;
    }
    .perfil {
        height: 400px;
        width: 400px;
        margin-top: 8%;
        margin-left: 32.3%;
    }
}
